<h1>
  Issue Number: <small>{{ id() }}</small>
</h1>
<a routerLink="/">Go Back</a>

@if (issue.isPending()) {
  <p>Loading issue...</p>
} @else if (issue.isError()) {
  <p>There was an error while fetching issue with ID: {{ id() }}</p>
  <p>Status: {{ issue.error().message }}</p>
} @else {
  <issue-comment [issue]="issue.data()!" />
}
<h3 class="pt-6 pb-2">Comments</h3>
@if (comments.isPending()) {
  <p>Loading comments...</p>
} @else if (comments.isError()) {
  <p>There was an error while fetching issue's comments with ID: {{ id() }}</p>
  <p>Status: {{ comments.error().message }}</p>
} @else {
  @for (comment of comments.data(); track comment.id) {
    <issue-comment [issue]="comment" />
  } @empty {
    <p class="mt-4 text-center">No comments to show for this issue</p>
  }
}
