h1 {
  margin-bottom: 16px;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}

p {
  font-size: x-large;
}

a {
  background-color: black;
  color: white;
  font-size: large;
  font-weight: 600;
  text-decoration: none;
  border-radius: 8px;
  outline: 1px solid black;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: scale ease-out 0.1s;
}

a:hover:not(:disabled) {
  scale: 1.02;
  background-color: white;
  color: black;
  transition: scale ease-in 0.2s;
}

a:disabled {
  opacity: 0.8;
}
