div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 16px 0 8px;
}

@media screen and (width > 600px) {
  div {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    padding: 8px 24px;
  }
}

span {
  font-size: x-large;
  font-weight: 900;
  color: white;
}

menu {
  list-style: none;
  padding: 0;
  margin: 8px 0;

  display: flex;
  gap: 24px;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  text-decoration: none;
  color: rgb(177, 177, 177);
}

a:hover {
  filter: drop-shadow(0 0 8px rgb(165 165 164 / 0.8));
}

.active {
  color: white;
  font-weight: 700;
}
