header {
  background-color: var(--primary-color);
  padding: 16px;
}

menu,
div > a {
  margin: 0;
}

menu {
  list-style: none;
  padding: 0;
}

div > a,
a {
  color: black;
  letter-spacing: 1px;
}

div > a {
  font-size: larger;
}

a {
  text-decoration: none;
}

.active {
  font-weight: 700;
}

@media (prefers-color-scheme: dark) {
  a,
  div > a {
    color: white;
  }
}
