<div *ngIf="country; else loading">
  <div class="row">
    <div class="col-12">
      <h2>
        Pais: <strong>{{ country.name.common }}</strong>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h3>Flag</h3>
      <img
        [src]="country.flags.svg"
        [alt]="country.name.common"
        loading="lazy"
        class="img-thumbnail"
      />
    </div>
    <div class="col">
      <h3>Info</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Capital: </strong> {{ country.capital }}
        </li>
        <li class="list-group-item">
          <strong>Population: </strong> {{ country.population | number }}
        </li>
        <li class="list-group-item">
          <strong>Country Code: </strong> {{ country.cca3 }}
        </li>
        <li class="list-group-item">
          <strong>Region: </strong> {{ country.region }}
        </li>
      </ul>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <h3>Translations</h3>

      <div class="d-flex flex-wrap">
        <span
          class="badge bg-primary m-1"
          *ngFor="let translation of country.translations | keyvalue"
          [title]="translation.key + ' translation'"
        >
          {{ translation.value.common }}
        </span>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="alert alert-info text-center">Loading info, please wait...</div>
</ng-template>
