<h2>CountriesApp</h2>
<hr />
<ul class="list-group">
  <!-- <li
    class="list-group-item"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <a
      routerLink=""
      routerLinkActive="a-active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home Page
    </a>
  </li>
  <li class="list-group-item" routerLinkActive="active">
    <a routerLink="about" routerLinkActive="a-active">About Page</a>
  </li>
  <li class="list-group-item" routerLinkActive="active">
    <a routerLink="contact" routerLinkActive="a-active">Contact Page</a>
  </li> -->
  <li class="list-group-item" routerLinkActive="active">
    <a routerLink="countries/by-capital" routerLinkActive="a-active"
      >Search by capital</a
    >
  </li>
  <li class="list-group-item" routerLinkActive="active">
    <a routerLink="countries/by-country" routerLinkActive="a-active"
      >Search by country</a
    >
  </li>
  <li class="list-group-item" routerLinkActive="active">
    <a routerLink="countries/by-region" routerLinkActive="a-active"
      >Search by region</a
    >
  </li>
</ul>
